[user]
	name = Tomas Cernaj
	email = tomas@cernaj.de
[core]
[push]
	default = simple
[merge]
	conflictStyle = diff3
[rebase]
	autosquash = true
[status]
	submoduleSummary = true
[diff]
	submodule = log
[pull]
	ff = only
[fetch]
	recurseSubmodules = on-demand
