[user]
	name = Tomas Cernaj
	email = tomas@cernaj.de
[core]
	autocrlf = input
[push]
	default = simple
[merge]
	conflictStyle = diff3
[rebase]
	autosquash = true
[status]
	submoduleSummary = true
[diff]
	submodule = log
[pull]
	rebase = preserve
[fetch]
	recurseSubmodules = on-demand
[credential]
	helper = osxkeychain
